/* Căn giữa và hiệu ứng mượt mà */
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  will-change: opacity, transform; /* Tối ưu hóa hiệu suất */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Tùy chỉnh hộp chứa chính */
.container {
  max-width: 350px;
  width: 350px;
  height: auto;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
  padding: 25px 25px;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out; /* Thêm hiệu ứng hover */
}

/* Tạo hiệu ứng shadow khi hover */
.container:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

/* Tiêu đề */
.heading {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}

/* Thông báo lỗi */
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 10px;
}

/* Form nhập liệu */
.form {
  margin-top: 20px;
}

.form .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #909090 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

/* Hiển thị lỗi cho input */
.form .inputError {
  border-inline: 2px solid red;
}

.form .inputError:focus {
  border-inline: 2px solid darkred;
}

.form .input::placeholder {
  color: rgb(175, 175, 175);
}

.form .input:focus {
  outline: none;
  border-inline: 2px solid #333;
}
/* otp */
.inputWrapper {
  position: relative;
}
.GetOTP {
  position: absolute;
  right: 10px;
  top: 62%;
  transform: translateY(-50%);
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

/*  icon hiển thị mật khẩu */
.passwordWrapper {
  position: relative;
}
.togglePasswordIcon {
  position: absolute;
  right: 15px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  font-size: 18px;
  opacity: 0.5;
}

/*Đăng nhập ngay */
.signUpNow {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.signUpNow a {
  text-decoration: none;
  color: #0099ff;
  font-size: 14px;
  transition: color 0.3s ease;
}
/* Nút đăng nhập */
.loginButton {
  display: block;
  width: 100%;
  font-weight: bold;
  background: black;
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(145, 145, 145, 0.878) 0px 20px 10px -15px;
  transition: all 0.2s ease-in-out;
}

.loginButton:hover {
  transform: scale(1.03);
  box-shadow: rgba(146, 146, 146, 0.878) 0px 23px 10px -20px;
  background: #333; /* Đổi màu khi hover */
}

.loginButton:active {
  transform: scale(0.95);
  box-shadow: rgba(146, 146, 146, 0.878) 0px 15px 10px -10px;
}
